@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.cards{
    max-width: 1240px;
    width: 100%;
    margin: 48px 0;
    background-color: variables.$color-secondary;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    column-gap: 5%;
    row-gap: 56px;
    padding: 56px;
    @media screen and (max-width: map.get(variables.$breakpoints, mobile)){
        background-color: variables.$color-white;
        margin: 24px 0;
        padding: 0;
        row-gap: 16px;
            }
}