@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.section-sign-in{
    @include mixins.flex(column,center,center); 
    background-color: white;
    width: 320px;
    margin: 0 auto;
    padding: 32px;
    & h1{
        padding-bottom: 32px;
        font-size: variables.$font-size-large;
        }
    &_icon{
        padding-bottom: 32px;
        font-size: variables.$font-size-small;
    }
    &_input-wrapper{
        @include mixins.flex(column,center,flex-start);
        text-align: left;
        margin-bottom: 16px;
        & label{
            font-weight: variables.$font-weight-blod;
            margin-bottom: 4px;
        }
        & input{
            padding: 4px;
            font-size: variables.$font-size-medium;
        }
    }
    &_input-remember{
        & label{
            margin-left: 4px;
        }
    }
    &_button{
        width: 100%;
        padding: 8px;
        font-size: variables.$font-size-medium;
        margin-top: 16px;
        border-color: transparent;
        background-color: #00bc77;
        color: #fff;
        text-decoration : underline;   
    }
}