@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.section-user{
    &_profil{
        @include mixins.flex(column,center, center);
        row-gap: 16px;
        text-align: center;
        color: variables.$color-white;
        margin-bottom: 24px;
    }
    &_title{
        font-size: 32px;
    }
    &_user{
        font-size: 32px;
    }
}