@use "sass:map";
@use "../abstracts/mixins";
@use "../abstracts/variables";

.nav-section{
    @include mixins.flex(row,center,flex-end);
    column-gap: 40px;
    font-size: variables.$font-size-medium;
    font-weight: variables.$font-weight-medium;
        &__link {
        color: variables.$color-black;
            &:hover{
            text-decoration: underline solid variables.$color-black; 
            }
        }
        &__icone{
            margin: 0 8px;
            }
}

